$background-color: #0f2027;
$containers_color: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); //#21273b;
$display: grid;
$borders: 10px;
$color-button: #767b91;
$font:"Questrial"; //"Questrial", sans-serif;

//Para fonts ver config//

@font-face{
  font-family :"Questrial";
  src: url("../assets/fonts/questrial-v13-latin-regular.woff") format("woff"),
  url("../assets/fonts/questrial-v13-latin-regular.woff2") format("woff2")
}


//@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2,
h1,
h3 {
  font-family: $font;
  color: $background-color;
}

h1 {
  font-size: 10rem;
}
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: $font;
  font-size: 1rem;
}

body{
  height: 100vh;
  width: 100vw;
}

.Container {
  background: $background-color; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "main_result dashboard";
  padding: 5rem;
  width: 100vw;
  .Container__result {
    grid-area: main_result;
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-areas:
      "search_bar"
      "results";
    background-image: $containers_color;
    border-radius: $borders;
    padding: 4rem;
    .Search_bar {
      grid-area: search_bar;
      display: flex;
      display: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 4rem;
      .Search_bar-Input {
        width: 20rem;
        border-radius: 30px;
        box-shadow: 1px 3px 8px $color-button;
        border: none;
        height: 4rem;
        padding-left: 1.6rem;
        background-color: whitesmoke;
        font-family: $font;
      }
      .Search_bar-Button {
        height: 40px;
        width: 40px;
        background-color: $color-button;
        color: whitesmoke;
        border-radius: 30px;
        border: none;
        box-shadow: 1px 1px 3px $color-button;
        .Search_bar-Button--Icon {
          width: 20px;
          height: 20px;
        }
      }
      .Search_bar-Button:hover {
        cursor: pointer;
      }
      .Search_bar-Button:focus {
        outline: none;
        border: none;
      }
    }
    .Results__pane {
      grid-area: results;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .WeatherImage {
        width: 150px;
        height: 150px;
      }
      .Date {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .Description {
        text-transform: capitalize;
      }
    }
  }
  .Container__dashboard {
    .highlights {
      margin: 2rem 0 1rem 2rem;
      color: white;
    }
    .line {
      margin: 0 0 2rem 2rem;
      width: 10rem;
      border-top: 1px solid yellow;
    }
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .Dashboard__forecast {
      @extend .Container__dashboard;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .Forecast {
        width: 13rem;
        height: 20rem;
        background-image: $containers_color;
        border-radius: $borders;
        margin-top: 2rem;
        @extend .Container__dashboard;
        justify-content: center;
        align-items: center;
      }
    }
    .Dashboard__results {
      @extend .Container__dashboard;

      .Dashboard__results--row {
        @extend .Container__dashboard;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2rem;

        .Result__container {
          width: 20rem;
          height: 15rem;
          background-image: $containers_color;
          border-radius: $borders;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem;
        }
      }
    }
  }
}

.imagen {
  background-color: #21273b;
}
.Search_bar-Input:focus {
  outline: none;
  border: none;
}
.Search_bar-Input:active {
  outline: none;
  border: none;
}
///Loader/////
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ErrorPage {
  background-color: $background-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20rem;
  .ErrorPage__title {
    color: whitesmoke;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .ErrorPage__button {
    height: 5rem;
    width: 15rem;
    background: $containers_color;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}
